html {
  background-color: #eee;
}

body {
  font-family:sans-serif;
  width:800px;
  margin:2em auto;
  color:#666;
  background-color:#fff;
  font-weight:200;
  line-height:1.8em;
  font-size:1.1em;
}

h1, h2, h3, h4 {
  color:#333;
  text-transform: uppercase;
}

h2 {
  margin-bottom:.5em;
}

h3 {
  #333
}

hr {
  margin: 4em 0;
}

a {
  text-decoration: none;
  color:#e44db6;
}

img {
  margin: 0 0 2em 0;
  width: 100%;
}

ul#commandsList {
  list-style-type:none;
  padding-left:0;
}

ul#commandsList li {
  padding:2em 0;
  border-top:1px solid #ccc;
}

ul#commandsList li li {
  padding:.5em;
  border-top:0;
}

div.definition {
  background-color:#f5f5f5;
  padding:1em 1em .5em;
  margin-bottom:2em;
}

.textContent {
  padding: 2em 6em 4em;
}

pre {
  background-color: #eee;
  padding: 1em;
  margin: 2em 0;
  overflow:hidden;
}

code {
  padding: 0 .4em 0;
  background-color: rgb(234, 248, 255);
  color: rgb(4, 114, 167);
  display: inline-block;
  border-radius: .2em;
  font-size: 1.1em;
}

.keystroke {
  padding: .1em .3em 0;
  background-color: rgb(230, 244, 255);
  color: rgb(16, 142, 233);
  display: inline-block;
}

.click {
  padding: 0 .4em 0;
  background-color: rgb(245, 230, 255);
  color: rgb(96, 0, 183);
  display: inline-block;
  border-radius: .2em;
}

.tooltip {
  font-style:italic;
}

#quicklinks {
  margin:4em 0;
}

#quicklinks ul {
  list-style-type:none;
  padding:0;
}

#quicklinks ul li {
  padding:.5em 0;
  border-bottom:1px solid #ddd;
  position: relative;
}

#quicklinks ul li:last-child {
  border-bottom:0;
}

#quicklinks ul li code {
  position: absolute;
  left: 15em;
}

#quickstart ol {
  padding-left: 0;
}

#quickstart li {
  margin-bottom: 1em;
}

.tip {
    background-color: #e4f4ff;
    color: #1d7bcc;
    padding: 1em;
    margin: 1em 0;
    font-size: .9em;
}

ul.arguments li {
  margin-bottom:1em;
}

ul.arguments li li {
  margin-bottom:inherit;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.alert {
    background-color: #ffe5e5;
    color: #af0808;
    padding: 2em;
}
