body {
  font-family:sans-serif;
  width:720px;
  margin:2em auto;
  color:#666;
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  color:#333;
}

h2 {
  margin-bottom:.5em;
}

h3 {
  #333
}

hr {
  margin: 4em 0;
}

strong {
  color:#333;
}

a {
  padding: .1em .3em 0;
  background-color: rgb(241, 230, 255);
  color: rgb(92, 16, 233);
  display: inline-block;
}

ul#commandsList {
  list-style-type:none;
  padding-left:0;
}

ul#commandsList li {
  padding:2em 0;
  border-top:1px solid #ccc;
}

ul#commandsList li li {
  padding:.5em;
  border-top:0;
}

div.definition {
  background-color:#f5f5f5;
  padding:1em 1em .5em;
  margin-bottom:2em;
}

code {
  color:#c22980;
  font-size:1.2em;
}

.keystroke {
  padding: .1em .3em 0;
  background-color: rgb(230, 244, 255);
  color: rgb(16, 142, 233);
  display: inline-block;
}

.tooltip {
  font-style:italic;
}

#quicklinks {
  background-color:#f5f5f5;
  padding:1em 2em;
  margin:4em 0;
}

#quicklinks ul {
  list-style-type:none;
  padding:0;
}

#quicklinks ul li {
  padding:1em 0;
  border-top:1px solid #ddd;
}

ul.arguments li {
  margin-bottom:1em;
}

ul.arguments li li {
  margin-bottom:inherit;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.alert {
  background-color:#eee;
  color:red;
  padding:2em;
}
